$primaryColor: #08184f;
$primaryHoverColor: #03268d;
$liteInfoColor: #4163d2dc;
$backgroundPrimaryColor: #f8dfdf;
$sdecondaryTextColor:#8181a5;
$white:#ffff;
$newPrimaryColor: #5e81f4;
$primaryText: #1d1c21;
$outline:#ececf2;